body {
  margin: 0;
  padding: 0;
}

/* .Chatlayout {
  display: flex;
  justify-content: space-between;
} */

.signinLoginTab {
  display: flex;
}
.signinLoginTab > button {
  flex: 1;
  border: none;
  background-color: white;
  cursor: pointer;
  height: 4rem;
  font-size: larger;
  box-shadow: 1px 0px 0px 0px rgb(99, 99, 99);
}
.msg {
  display: grid;
}
.msg2 {
  display: grid;
}
.msg button {
  /* background-color: rgba(197, 105, 121, 0.517); */
  background-color: #e0e0e0;
  border: none;
  /* width: 460px; */
  margin: 1px 0px;
  cursor: pointer;
  border: none;
  color: black;
  padding: 30px 20px;
  /* align-items: left; */
  /* gap: 100px; */
  font-size: medium;
  word-wrap: break-word;
  text-align: left;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  /* display: grid;
  place-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(195, 192, 192);
}

.loginTab {
  width: 600px;
  height: 250px;
  border: none;
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(124, 176, 228); */
  box-shadow: 1px 1px 5px 0px rgb(99, 99, 99);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  color: rgba(197, 43, 43, 0.948);
  font-weight: 800;
}

.loginContent {
  display: flex;
  gap: 20px;
}

.RoomTab {
  min-width: 400px;
  height: 99vh;
  /* border: 2px solid rgba(236, 97, 120, 0.854); */
  border: 1px solid #a7a7a7;
  box-shadow: 0px 0px 5px 1px #bbbbbbb1 inset, 0px 0px 20px 1px #bbbbbbb1;
  background-color: #ffc0cb07;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  /* display: grid; */
  color: rgba(197, 43, 43, 0.948);
  position: relative;
  overflow-y: scroll;
  resize: horizontal;
  /* cursor: col-resize; */
}
/* .RoomTab::-webkit-scrollbar-thumb {
  background: #555;
}
.RoomTab::-webkit-scrollbar-thumb {
  background: rgb(173, 172, 172);
}
.RoomTab::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.RoomTab .header {
  color: rgb(30, 30, 30);
  padding: 1px 25px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.header input {
  flex: 80%;
  height: 40px;
  margin: 13px 0px;
  border-radius: 10px;
  border: 2px solid #a7a7a7;
  background-color: transparent;
  font-size: large;

  padding-left: 10px;
}
.header input::placeholder {
  color: rgb(26, 26, 26);
}

.header button {
  flex: 20%;
  height: 40px;
  border: 3px solid rgb(38, 38, 38);
  background-color: #656565;
  cursor: pointer;
  color: white;
  font-size: medium;
}
.chatroomButton {
  /* width: 100%; */
  background-color: rgba(99, 98, 98, 0.8);
  border: none;
  border-radius: 2px;
  margin: 7px;
  font-size: larger;
  cursor: pointer;
  color: white;
}
.chatroomHomepage {
  background: transparent;
  border: none;
  color: black;
  margin: 10px 0px;
}
.chatroomHomepage span {
  padding-right: 150px;
}
.chatroomHomepage span:nth-child(1) {
  font-weight: 700;
}

.lastMsg {
  padding-left: 20px;
}

.chatroom {
  /* width: 420px; */
  font-weight: 700;
  background-color: #e0e0e0;
  margin: 1px 0px;
  cursor: pointer;
  border: none;
  color: black;
  justify-content: center;
  padding: 30px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.addFriend {
  /* color: rgba(236, 97, 120, 0.854); */
  color: black;
  font-size: 3em;
  position: absolute;
  right: 2%;
  top: 1%;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 100px;
}
.newFriend {
  /* color: rgba(236, 97, 120, 0.854); */
  color: rgb(13, 86, 175);
  font-size: 2em;
  position: absolute;
  right: 10%;
  top: 3%;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 100px;
}
.newfriendnumber {
  color: rgba(255, 0, 0, 0.916);
  font-size: 20px;
  font-weight: 800;
}
.yourFriend {
  /* color: rgba(236, 97, 120, 0.854); */
  color: rgb(251, 56, 56);
  font-size: 1.8em;
  position: absolute;
  right: 24%;
  top: 3.5%;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 100px;
}

.newfriendspan {
  color: white;
  font-weight: 800;
  font-size: 20px;
}
/* 
.loginTab input,
.RoomTab input {
  width: 100px;
  height: 40px;
  border: 2px solid rgba(216, 146, 157, 0.784);
  background-color: transparent;
  padding-left: 10px;
  color: white;
  font-size: 15px;
} */

.loginTab input:focus,
.RoomTab input:focus {
  outline: none;
}
.ButtonChat {
  width: 200px;
  height: 50px;
  border: none;
  background-color: rgba(216, 146, 157, 0.784);
  color: white;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 18px;
}
.ButtonChat:hover {
  background-color: rgba(171, 116, 124, 0.784);
  cursor: pointer;
}
.chat-window {
  min-width: 600px;
  height: 99vh;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  /* border-top: 2px solid rgba(236, 97, 120, 0.854);
  border-right: 2px solid rgba(236, 97, 120, 0.854);
  border-bottom: 2px solid rgba(236, 97, 120, 0.854); */
  border-top: 2px solid #a7a7a7;
  border-right: 2px solid #a7a7a7;
  border-bottom: 2px solid #a7a7a7;
  box-shadow: 0px 0px 5px 1px #bbbbbbb1 inset, 0px 0px 20px 1px #bbbbbbb1;
  resize: horizontal;
}
.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 10%;
  /* border-top-left-radius: 6px; */
  border-top-right-radius: 6px;
  /* border-bottom: 2px solid #e0e0e0; */
  /* background: rgba(216, 146, 157, 0.74); */
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  /* color: #6c6a6a; */
  color: rgb(30, 30, 30);
  font-weight: 700;
  line-height: 45px;
  font-size: x-large;
  align-items: center;
}

.chat-window .chat-body {
  /* height: 413px; */
  height: 84%;
  border: none;
  background-color: rgb(240, 240, 231);
  /* border: 1px dotted rgba(216, 146, 157, 0.784); */
  position: relative;
}

.chat-window .chat-footer {
  height: 6%;
  /* border-top: 2px solid rgba(216, 146, 157, 0.784); */
  border-top: 2px solid #a7a7a7;
  display: flex;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  background-color: #e0e0e0;
}

.chat-window .chat-body .message-container {
  /* width: 100%; */
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  /* min-height: 40px;
  max-width: 250px; */
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgb(165, 165, 165);
  color: rgb(59, 59, 59);
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 7px;
  padding-left: 7px;
  overflow-wrap: break-word;
  word-break: break-word;
  position: relative;
  font-size: 18px;
}
#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}
#you .messageitself {
  min-width: 60px;
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 40px;
  color: black;
}

#you .message-meta {
  justify-content: flex-start;
  position: absolute;
  bottom: 8%;
  right: 5%;
  margin-left: 5px;
  margin-top: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  background-color: rgb(171, 214, 169);
}
#other .messageitself {
  min-width: 60px;
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 40px;
  color: black;
}

#other .message-meta {
  justify-content: flex-start;
  position: absolute;
  bottom: 8%;
  right: 5%;
  margin-left: 5px;
  margin-top: 5px;
}

.message-meta #author {
  margin-left: 5px;
  font-weight: 900;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 14px;
}

.chat-window .chat-footer input {
  background-color: white;
  display: flex;
  height: 90%;
  flex: 85%;
  border: none;
  padding: 0 0.7em;
  font-size: 1em;
  /* border-right: 2px solid rgba(236, 97, 120, 0.854); */
  border-right: 2px solid #caad91;
  font-family: "Open Sans", sans-serif;
  padding-left: 10px;
  font-size: 18px;
}
.chat-window .chat-footer input:focus {
  outline: none;
}

::placeholder {
  color: darkslategrey;
}
.chat-window .chat-footer button {
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: white;
}
.chat-window .chat-footer button:hover {
  color: #6b5036;
}
.hide {
  opacity: 0 !important;
}

.EndChat {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: none;
  background-color: rgba(216, 146, 157, 0.784);
  color: white;
  font-size: 16px;
  margin-top: 30px;
  position: absolute;
  top: 81%;
  left: 65%;
}
.login {
  display: flex;
  flex-direction: row;
}
.login div {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0px 10px;
  color: darkgray;
  gap: 5px;
}

/* .login div input:focus {
  outline: 2px solid #cc94e2b9;
} */

/* .Linktext {
  color: black;
  size: small;
} */
.mainpage {
  display: grid;
  grid-template-columns: auto auto;
}

@media (max-width: 400px) {
  .loginContent {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .loginTab {
    width: 300px;
    height: 350px;
    border: none;

    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 0px rgb(99, 99, 99);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgba(197, 43, 43, 0.948);
    font-weight: 800;
  }
  h1 {
    font-size: medium;
    margin-bottom: 20px;
  }
}
